@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style : italic;
  src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'Liberation Sans';
  src: url("../fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: 'Liberation Sans';
  font-style : italic;
  src: url("../fonts/LiberationSans-Italic.ttf");
}


@font-face {
  font-family: 'Liberation Serif';
  src: url("../fonts/LiberationSerif-Regular.ttf");
}

@font-face {
  font-family: 'Liberation Serif';
  font-style : italic;
  src: url("../fonts/LiberationSerif-Italic.ttf");
}
